.size {
  font-size: 32px;

}

.sizemenu {
  font-size: 40px;
}

a {
  color: inherit;
}


.texto2 {
  color: white;
  font-size: 14px;
  text-align: center;
  text-shadow: black 1px 1px 1px;
}

.text {
  color: white;
  font-size:10px;
}

.textPreco {
  color: yellow;
  font-size: 14px;
  font-weight: 600;
}
