<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col><div [routerLink]="['/home']">
        <ion-icon name="arrow-back-outline" class="size"></ion-icon>
      </div></ion-col>
      <ion-col><div class="ion-float-end position"><ion-title>Minha conta</ion-title></div></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-text-center position2">Você não está logado ou não possui um cadastro. <a href="cadastro-cliente">Cadastre-se</a> ou faça o <a href="login">login aqui</a></div>
</ion-content>
