.size {
  font-size: 32px;

}

.sizemenu {
  font-size: 40px;
}

a {
  color: inherit;
}

.img {
  width: 400px;
  height: 300px;
}

.posicao {
  margin-left: 16px;
  margin-top: 20px;
}

div.posicao > p {
  margin: 2px;
  padding: 2px;
}

.text1 {
  font-size: 18px;
  font-weight: 600;
}

.text2 {
  font-size: 16px;
}

