<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button  class="sizemenu"></ion-menu-button>
    </ion-buttons>

    <ion-toolbar>
      <ion-searchbar></ion-searchbar>
    </ion-toolbar>

     <ion-buttons slot="end">
          <ion-button>
            <a href="compras"><ion-icon name="cart-outline" class="size"></ion-icon></a>
          </ion-button>
        </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content>
  <img src="../../../assets/carros/carro1.jpg" class="img" >
  <h4 class="ion-text-center">CHERY ARRIZO 6</h4>
  <div class="posicao">
    <p class="text1">Modelo:</p>
    <p class="text2">Arrizo</p>
    <p class="text1">Marca:</p>
    <p class="text2">Chery</p>
    <p class="text1">Ano:</p>
    <p class="text2">2017</p>
    <p class="text1">Cor:</p>
    <p class="text2">cinza</p>
    <p class="text1">Combustivel:</p>
    <p class="text2">Flex</p>
  </div>

  <div class="ion-margin-start">
    <h4>Observações do Vendedor:</h4>
    <p>Um carro muito bom</p>
  </div>
</ion-content>
