.size {
  font-size: 32px;

}

.sizemenu {
  font-size: 40px;
}

a {
  color: inherit;
}

.posicao2 {
  padding-top: 25px;
}

.img {
  background-image: url("../../../assets/img/carro1.jpg");
  background-size: cover;
  background-position: center;
  height: 180px;
}

.texto {
  color: white;
  font-size: 16px;
  text-align: center;
  text-shadow: black 1px 1px 1px ;
}

.img2 {
  background-image: url("../../../assets/img/carroHonda.jpg");
  background-size: cover;
  width: 250px;
  height: 200px;
}

.texto2 {
  color: white;
  font-size: 14px;
  text-align: center;
  text-shadow: black 1px 1px 1px;
}

.text {
  color: white;
  font-size:10px;
}

.textPreco {
  color: yellow;
  font-size: 14px;
  font-weight: 600;
}




