<ion-header>
  <ion-toolbar>
    <div [routerLink]="['/home']">
      <ion-icon name="arrow-back-outline" class="size"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h3 class="ion-text-center posicao">Cadastro de Veiculo</h3>
  <div>
    <ion-item class="ion-margin-bottom">
      <ion-label position="floating">Modelo:</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-label position="floating">Marca:</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-label position="floating">Preço:</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-label position="floating">Proprietario:</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  </div>
  <div class="posicaoBotao">
    <ion-button type="submit" expand="block" [routerLink]="['/veiculos']" color="success">Cadastrar</ion-button>
  </div>
</ion-content>
